# Intellij IDEA files
.idea/workspace.xml
.idea/shelf/
.idea/usage.statistics.xml
.idea/discord.xml

# Compiled files
*.jar
*.class
*.zip

# Results
out/
target/

# Python API stuff
venv/
__pycache__/
