# Intellij IDEA files
.idea/workspace.xml
.idea/shelf/
.idea/usage.statistics.xml
.idea/discord.xml

# Compiled files
*.jar
*.class
*.zip

# Results
out/
target/

# Python bytecode
venv/
__pycache__/

# Python API related files
start.json
python_api/run_*.bat
